<p><a href="/<%= current_user.email %>">Account</a></p>

<h3>New Maintenance Entry<h3>

<form action="/entries" method="POST">
   <p>
      <label>Maintenance Type:</label>
         <input type="text" name="entry_type">
   </p>
   <p>
      <label>Description:</label>
         <input type="text" name="entry_content">
   </p>
   <p>
      <label>Due Date:</label>
         <input type="text" name="due_date">
   </p>
   <p>
      <label>Choose a vehicle for this task:</label>
      <% current_user.vehicles.each do |vehicle| %>
         <p><input type="radio" name="vehicles[]" value="<%= vehicle.id %>"> <%= "#{vehicle.model_year.to_s} #{vehicle.make.capitalize} #{vehicle.model.capitalize}" %></p>
      <% end %>
   </p>
   <input type="submit" value="Create Entry">
</form>