<h3>Account Deletion</h3>

<p>Are you sure you want to permanently delete your account?<p>

<p>You cannot undo this action.<p>

<form action="/<%= current_user.email %>" method="POST">
   <input id="hidden" type="hidden" name="_method" value="DELETE">

   <input type="submit" value="Delete Your Account">
</form>