<h3>Account Deletion</h3>

<p>Are you sure you want to permanently delete your account?<p>

<p>You cannot undo this action.<p>

<p><a href="/<%= current_user.email %>"><input type=button value="Delete Your Account"></a></p>