<h3>Edit Your Account</h3>

<form action="/<%= current_user.email %>" method="POST">
   <input id="hidden" type="hidden" name="_method" value="PATCH">
   <label>Email:</label>
      <input id="email" type="text" name="email" placeholder="Type email">
   <br>
   <br>
   <input id="submit" type="submit" value="Submit">
</form>

<br>
<br>

<p><a href="/<%= current_user.email %>"><input type=button value="Back to Main"></a></p>

<% if flash.has?(:message)%>
   <%= flash[:message] %>
<% end %>