<h3>Sign Up</h3>

<form action="/signup" method="POST">
   <label>Email:</label>
      <input id="email" type="text" name="[email]" placeholder="Email">
   <label>Password:</label>
      <input id="password" type="password" name="[password]" placeholder="Password">
      <p style="font-size: 10px;">Your password must be at least 8 characters long and include a special character (!@#$%^&*)</p>
   <input id="submit" type="submit" value="Sign Up">
</form>

<% if flash.has?(:message)%>
   <%= flash[:message] %>
<% end %>