<p><a href="/<%= current_user.email %>">Your Account</a></p>

<h3>Add a Vehicle</h3>

<form action="/vehicles" method=POST>
   <p>
      <label>Model Year</label>
         <input type="text" name="model_year" placeholder="e.g. '1984'">
   </p>
   <p>
      <label>Make</label>
         <input type="text" name="make" placeholder="e.g. 'Ford'">
   </p>
   <p>
      <label>Model</label>
         <input type="text" name="model" placeholder="e.g. 'Mustang'">
      <p>If your make or model includes a dash (-), use an underscore (_) instead.</p>
   </p>
   <p>
      <label>Mileage</label>
         <input type="text" name="mileage" placeholder="e.g. '147000'">
   </p>
   <input type=submit value="Add Vehicle">
</form>